<CascadingAuthenticationState>
    <Router AppAssembly="@typeof(App).Assembly">
        <Found Context="routeData">
            <AuthorizeRouteView RouteData="@routeData" DefaultLayout="@typeof(LadenLayout)">
                <NotAuthorized>
                    <h3>Hoppla! Sie dürfen diese Seite nicht sehen.</h3>
                    <h5>Bitte für ein neues Konto <a href="anmeldung">anmelden</a> oder <a href="registrierung">registrieren</a>.</h5>
                </NotAuthorized>
                </AuthorizeRouteView>
            <FocusOnNavigate RouteData="@routeData" Selector="h1" />
        </Found>
        <NotFound>
            <PageTitle>Nicht gefunden</PageTitle>
            <LayoutView Layout="@typeof(LadenLayout)">
                <p role="alert">Entschuldigung, unter dieser Adresse gibt es nichts.</p>
            </LayoutView>
        </NotFound>
    </Router>
</CascadingAuthenticationState>