<CascadingAuthenticationState>
    <Router AppAssembly="@typeof(App).Assembly">
        <Found Context="routeData">
            <AuthorizeRouteView RouteData="@routeData" DefaultLayout="@typeof(LadenLayout)" />
            <FocusOnNavigate RouteData="@routeData" Selector="h1" />
        </Found>
        <NotFound>
            <PageTitle>Nicht gefunden</PageTitle>
            <LayoutView Layout="@typeof(LadenLayout)">
                <p role="alert">Entschuldigung, unter dieser Adresse gibt es nichts.</p>
            </LayoutView>
        </NotFound>
    </Router>
</CascadingAuthenticationState>