@page "/admin/produkte"
@inject IProduktDienst ProduktDienst
@inject NavigationManager NavigationManager
@attribute [Authorize(Roles = "Admin")]

<h3>Produkte</h3>

@if (ProduktDienst.AdminProdukte == null)
{
    <span>Produkte werden geladen...</span>
}
else
{
    <button class="btn btn-success float-end" @onclick="ErstelleProdukt">
        <i class="oi oi-plus"></i> Füge neues Produkt hinzu
    </button>
    <table class="table">
        <thead>
            <tr>
                <th></th>
                <th>Produkt</th>
                <th>Variante</th>
                <th>Preis</th>
                <th>Sichtbar</th>
                <th></th>
            </tr>
        </thead>
        <tbody>
            <Virtualize Items="@ProduktDienst.AdminProdukte" Context="produkt">
                <tr>
                    <td>
                        @if (!string.IsNullOrEmpty(produkt.BildUrl))
                        {
                            <img src="@produkt.BildUrl" />
                        }
                        else if (produkt.Bilder.Count > 0)
                        {
                            <img src="@produkt.Bilder[0].Daten" />
                        }
                    </td>
                    <td>@produkt.Title</td>
                    <td>
                        @foreach (var variante in produkt.ProduktVarianten)
                        {
                            <span>@variante.ProduktArt.Name</span>

                            <br />
                        }
                    </td>
                    <td>
                        @foreach (var variante in produkt.ProduktVarianten)
                        {
                            <span>@variante.Preis</span>

                            <br />
                        }
                    </td>
                    <td>@(produkt.Sichtbar ? "✔️" : "")</td>
                    <td>
                        <button class="btn btn-success" @onclick="(() => BearbeiteProdukt(produkt.ID))">
                            <i class="oi oi-pencil"></i>
                        </button>
                    </td>
                </tr>
            </Virtualize>
        </tbody>
    </table>
}

@code {
    protected override async Task OnInitializedAsync()
    {
        await ProduktDienst.GeheZurAdminProdukteAsync();
    }

    void BearbeiteProdukt(int produktID)
    {
        NavigationManager.NavigateTo($"admin/produkt/{produktID}");
    }

    void ErstelleProdukt()
    {
        NavigationManager.NavigateTo("admin/produkt");
    }
}
